https_redirect not working as expected

In its present form the HTTPS redirect is not working because the URL field of the request is empty (below we have the documentation that confirms that)

Proof: (it redirects to "https:///"
```
🐉 ╭─karasz@chaoskampf in ~ took 4ms
╰─λ curl -vvvvv http://localhost
*   Trying 127.0.0.1:80...
* Connected to localhost (127.0.0.1) port 80 (#0)
> GET / HTTP/1.1
> Host: localhost
> User-Agent: curl/7.88.1
> Accept: */*
>
< HTTP/1.1 308 Permanent Redirect
< Location: https:///
< Date: Sat, 18 Mar 2023 14:51:10 GMT
< Content-Length: 23
< Content-Type: text/plain; charset=utf-8
<
* Connection #0 to host localhost left intact
Redirected to https:///⏎                                                                                                                                                                      
```
This is a fix for this issue, not rely on req.URL to do the right thing but on req.Host

```diff
diff --git a/https_redirect.go b/https_redirect.go
index 9f30972..bd285f0 100644
--- a/https_redirect.go
+++ b/https_redirect.go
@@ -18,7 +18,7 @@ func (h *HTTPSRedirectHandler) ServeHTTP(rw http.ResponseWriter, req *http.Reque
url := *req.URL
url.Scheme = "https"

-               host := url.Hostname()
+               host := req.Host
if h.Port != 0 && h.Port != 443 {
port := fmt.Sprintf("%v", h.Port)
url.Host = net.JoinHostPort(host, port)
```

The promised excerpt from the documentation:

URL specifies either the URI being requested (for server requests) or the URL to access (for client requests).
For server requests, the URL is parsed from the URI supplied on the Request-Line as stored in RequestURI.  **For most requests, fields other than Path and RawQuery will be empty.**

 (See [RFC 7230, Section 5.3](https://rfc-editor.org/rfc/rfc7230.html#section-5.3))


fix merged. please confirm problem is solved @karasz 

yes, seems that issue is solved.  Closing